<div class="container d3-container bg-light main">
	<div class="row">
		<nav class="col-3 d3-nav ">
			<ul class="nav flex-column">
				{{#each this.menuList as |menu|}}
					<Nav::MenuItem 
						@menu={{menu}} 
						@activeNav={{this.navTitle}} 
						@changeNav={{this.changeNav}}
					/> 
				{{/each}}
			</ul>
		</nav>
		<section class="col-9 d3-content">
			{{!-- {{#each this.menuList as |content|}}
				{{component content.comp class="m-2 (if (eq this.navTitle content.identify) " " "d-none")" }}
			{{/each}} --}}

			{{#if (eq this.navTitle "hello")}}
				<D3::HelloWorld class="m-2 {{if (eq this.navTitle "hello") "" "d-none"}}" />
			{{else if (eq this.navTitle "bind")}}
				<D3::BindData class="m-2 {{if (eq this.navTitle "bind") "" "d-none"}}" />
			{{else if (eq this.navTitle "histo")}}
				<D3::BasicHistogram  class="m-2 {{if (eq this.navTitle "histo") "" "d-none"}}" />
			{{else if (eq this.navTitle "bar")}}
				<D3::BpBar class="m-2 {{if (eq this.navTitle "bar") "" "d-none"}}" />
			{{else if (eq this.navTitle "pie")}}
				<D3::BpPie class="m-2 {{if (eq this.navTitle "pie") "" "d-none"}}" 
					@data={{this.pieData}} />
				<button type="button" class="btn btn-info" {{on 'click' this.changePie}}>changePieData</button>
				<BsButton @type="info" @onClick={{action "changePieCount"}}>changePieCount</BsButton>
			{{else if (eq this.navTitle "line")}}
				<D3::BpLine class="m-2 {{if (eq this.navTitle "line") "" "d-none"}}" @data={{@model.barData}} />
			{{else if (eq this.navTitle "lines")}}
				<D3::BpMultiLines class="m-2 {{if (eq this.navTitle "lines") "" "d-none"}}" @data={{@model.multiLineData}} />
			{{else if (eq this.navTitle "map")}}
				<D3::BpMap class="m-2 {{if (eq this.navTitle "map") "" "d-none"}}" @data={{@model.mapData}} />
			{{/if}}

			{{!-- <D3::HelloWorld class="m-2 {{if (eq this.navTitle "hello") "" "d-none"}}" /> --}}
			{{!-- <D3::BindData class="m-2 {{if (eq this.navTitle "bind") "" "d-none"}}" /> --}}
			{{!-- <D3::BasicHistogram  class="m-2 {{if (eq this.navTitle "histo") "" "d-none"}}" /> --}}
			{{!-- <D3::BpBar class="m-2 {{if (eq this.navTitle "bar") "" "d-none"}}" /> --}}
			{{!-- <D3::BpPie class="m-2 {{if (eq this.navTitle "pie") "" "d-none"}}" @data={{this.pieResult}} /> --}}
			{{!-- <D3::BpLine class="m-2 {{if (eq this.navTitle "line") "" "d-none"}}" @data={{@model.barData}} /> --}}
			{{!-- <D3::BpMultiLines class="m-2 {{if (eq this.navTitle "lines") "" "d-none"}}" @data={{@model.multiLineData}} /> --}}
			{{!-- <D3::BpMap class="m-2 {{if (eq this.navTitle "map") "" "d-none"}}" @data={{@model.mapData}} /> --}}

			{{!-- <button type="button" {{on 'click' this.changePie}}>changePieData</button> --}}
		</section>
	</div>
</div>