<div class="container">
  <div class="grid-wrapper">
    {{#each @model as |chart|}}
      <Diagram
        class={{"grid-item"}}
        @chart={{chart.chart}}
        @histogram={{chart.histogram}}
        @commonts={{chart.commonts}}
        @title={{chart.title}}
        @notation={{chart.natation}}
      />
    {{/each}}
  </div>
</div>
{{!-- {{#each @model as |chart|}}
  <Diagram
    @chart={{chart.chart}}
    @histogram={{chart.histogram}}
    @commonts={{chart.commonts}}
    @title={{chart.title}}
    @notation={{chart.natation}}
  />
{{/each}} --}}