
{{#each @model as |chart|}}
  <Diagram
    @chart={{chart.chart}}
    @histogram={{chart.histogram}}
    @commonts={{chart.commonts}}
    @title={{chart.title}}
    @notation={{chart.natation}}
  />
{{/each}}
<div class="divider-menu"></div>