<div class="articla" ...attributes>
    <h2>d3-2 bind-data</h2>
    <p class="d3-bind" {{did-insert this.dataBind}}></p>
    <p class="d3-bind" {{did-insert this.dataBind}}></p>
    <p class="d3-bind" {{did-insert this.dataBind}}></p>
    <p class="d3-bind" {{did-insert this.dataBind}}></p>
    <p class="d3-bind2" {{did-insert this.dataBind2}}></p>
    <p class="d3-bind2" {{did-insert this.dataBind2}}></p>
    <div class="dropdown-divider"></div>
</div>