<div class="container d3-container bg-light main-nav">
	<div class="row">
		<BsNavbar 
			@type="light" 
			@backgroundColor="light" 
			@collapsed={{true}} 
			@onCollapse={{action (mut collapsed) true}} 
			@onExpand= {{action (mut collapsed) false}}
		 @vertical= {{true}} as |navbar|>
			<div class="navbar-header">
				<LinkTo @route={{"index"}} class="navbar-brand">
					D3-Demo
				</LinkTo>
				{{!-- {{#link-to "index" class="navbar-brand" }}D3-Demo{{/link-to}} --}}
			</div>
			<navbar.content>
				<navbar.nav as |nav|>
					<nav.item>
						<nav.link-to @route="index">Home</nav.link-to>
					</nav.item>
					<nav.item>
						<nav.link-to @route="d3">D3</nav.link-to>
					</nav.item>
					<nav.item>
						<nav.link-to @route="show">图表展示</nav.link-to>
					</nav.item>
					{{!-- <nav.dropdown as |dd|>
						<dd.toggle>图表展示 <span class="caret"></span></dd.toggle>
						<dd.menu as |ddm|>
							<ddm.item>
								<ddm.link-to @route="index">Line&&Lines</ddm.link-to>
							</ddm.item>
							<ddm.item>
								<ddm.link-to @route="d3">Histogram</ddm.link-to>
							</ddm.item>
							<ddm.item>
								<ddm.link-to @route="d3">Pie</ddm.link-to>
							</ddm.item>
						</dd.menu>
					</nav.dropdown> --}}
				</navbar.nav>
			</navbar.content>
		</BsNavbar>
	</div>
</div>
{{outlet}}